
   
        <div class="header">
            <nav>
                <img src="/Images/logo.png" class="logo" alt="Logo">
                <!-- Add your navigation links here -->
            </nav>
        </div>
        
      

   