    <div class="header">
            <nav>
               
                <img src="/Images/logo.png" class="logo" alt="Logo">
                <!-- Add your navigation links here -->
               
                <div>
                    <button class="lang-btn">English 
                        <img src="/Images/down-icon.png" class="down">
                    </button>
                    <button>Sign-In</button>
                </div>
            </nav>
            
            <div class="header-contents">
                <h1>Unlimited movies, TV shows and more</h1>
                <h3>Unlimited movies, TV shows and more</h3>
                <p>Ready to watch? Enter your email to create or restart your membership.</p>
                
                <form class="email">
                    <input type="email" placeholder="Email address" required>
                    <button type="submit">Get Started</button>
                </form>
            </div>
        </div>

        <div class="features">
            <br><br><br>
            <div class="trending">
                <h3>Trending Now</h3>
            </div>
            <br>
            <div >
                <button class="trending-btn">
                    India
                    <img src="/Images/down-icon.png" class="down">
                </button>

                &nbsp;&nbsp;&nbsp;

                <button class="trending-btn">
                    Movies
                    <img src="/Images/down-icon.png" class="down">
                </button>
            </div>
            <br>
            <div class="container horizontal-scroll">
                
                  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
                    <div class="horizontal-scroll">
<%const movies = [
                      { title: "Movie 1", imgSrc: "/Images/image1.jpeg" },
                      { title: "Movie 2", imgSrc: "/images/image8.jpg" },
                      { title: "Movie 3", imgSrc: "/images/image9.avif" },
                      { title: "Movie 4", imgSrc: "/images/images5.avif" },
                      { title: "Movie 5", imgSrc: "/images/images.jpeg" },
                      { title: "Movie 6", imgSrc: "/Images/images7.webp" },
                      { title: "Movie 7", imgSrc: "/images/images (2).jpeg" },
                      { title: "Movie 8", imgSrc: "/images/image10.jpg" },
                      { title: "Movie 9", imgSrc: "/images/image6.jpg" },
                      { title: "Movie 10", imgSrc: "/images/images (3).jpeg" }
                    ]; %>
                    </div>
                    <% movies.forEach(movie => { %>
                    <div class="col">
                      <div class="card">
                        <img src="<%= movie.imgSrc %>" class="card-img-top" alt="<%= movie.title %>">
                        <div class="card-body">
                          <h5 class="card-title">Recently added</h5>
                        </div>
                      </div>
                    </div>
                    <% }); %>
                  </div>
              
              </div>
            
        </div>

        
 
        
      

        