
   
        <div class="header">
            <nav>
               
                <img src="/Images/logo.png" class="logo" alt="Logo">
                <!-- Add your navigation links here -->
               
                <div>
                    <button class="lang-btn">English 
                        <img src="/Images/down-icon.png" class="down">
                    </button>
                    <button>Sign-In</button>
                </div>
            </nav>
            
            <div class="header-contents">
                <h1>Unlimited movies, TV shows and more</h1>
                <h3>Unlimited movies, TV shows and more</h3>
                <p>Ready to watch? Enter your email to create or restart your membership.</p>
                
                <form class="email">
                    <input type="email" placeholder="Email address" required>
                    <button type="submit">Get Started</button>
                </form>
            </div>
        </div>

        <div class="features">
            <br><br><br>
            <div class="trending">
                <h3>Trending Now</h3>
            </div>
            <br>
            <div >
                <button class="trending-btn">
                    India
                    <img src="/Images/down-icon.png" class="down">
                </button>

                &nbsp;&nbsp;&nbsp;

                <button class="trending-btn">
                    Movies
                    <img src="/Images/down-icon.png" class="down">
                </button>
            </div>
            <br>
            <div class="top">
                <!-- <div><i class="fa-thin fa-angle-left"></i></div> -->
                <div class="card" style="width: 18rem;">
                    <img src="../public/Images/image1.jpeg" class="card-img-top" alt="top_image" style="width: 20 rem;"></div>
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                    <div class="card-body">
                     <a href="#" class="btn btn-primary">Recently added</a>
                    </div>
                  </div>
            </div>
        </div>

        
 
        
      

   